<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TheWalkingScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0E534FD1CA07AC6004C2B52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0E535111CA07AC7004C2B52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0E5351C1CA07AC7004C2B52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
